:root{
    --primary-font:'Mulish',sans-serif;
    --secondary-font:'Philosopher',sans-serif;
    --ds-fnt-lv1:36px;
    --ds-fnt-lv2:24px;
    --ds-fnt-lv3:18px;
    --ds-fnt-lv4:14px;
    --mb-fnt-lv1:24px;
    --mb-fnt-lv2:18px;
    --mb-fnt-lv3:14px;
    --mb-fnt-lv4:13px;
    --main-col-dark:#C81D25;
    --main-col-light:#FF5A5F;
    --main-col-light-transparent:#ff5a609d;
    --sec-col-light:#087E8B;
    --sec-col-dark:#0B3954;
    --white:#BFD7EA;
    --main-gradient:linear-gradient(to top,#af070d5d,#0118258c);
    --picture-overlay-col:#000000;

}
*{
    font-family:var(--primary-font);
}
@keyframes example {
    0%   {
        transform: scale(0.5);
    }

  }

.visible{
   animation: example 1.5s 
}
body,html{
    padding:0;
    margin:0;
    
}
/* general styling */
.main{
    position:relative
}
header{
    min-height:8vh;
}
nav,footer{
    background-color:var(--main-col-dark);
    padding:1.5rem
}
nav{
    align-items:center;
    justify-content: space-between;
    
}
#dropdown-ul li{
    text-align:center
}
nav a{
    color:var(--white)
}
h1,h2{
    font-weight: bold;
}
h1,h2,h3,h4{
    font-family: var(--secondary-font);
}
.section-head{
    text-decoration:underline;
    text-decoration-color: var(--main-col-dark);
}
.front-overlay{
   flex:1
}
main{
    min-height:92vh
}

ul{
    padding:0;
    margin:0
}
li{
    list-style-type: none;
}

img{
    max-width:100%;
    height:auto
    
}
a{
    text-decoration:none;
    color:var(--main-col-light);
    transition:0.4s all
}
a:hover{
    color:black
}
.footer-wrapper{
    width:80%;
    margin:auto
}
.footer-items{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#copyRight{
    text-align:center
}
body,main,nav,.front-overlay,.about-container,.front-about,.searchbox,.main-content-wrapper,.social-icons ul{
    display:flex;
}
body,main,.front-overlay,.about-container,.front-about{
    flex-direction:column;
}
.about-container{
    width:80%;
    margin:auto;
}
/* index page */
.front-overlay-home{
    height:92vh;
}
.social-icons{
    width:100%;
    position:absolute;
    bottom:2%;
    z-index: 5;

}
.social-widget-home{
    padding:1% 2%;
    font-size:var(--ds-fnt-lv1);
}
.social-icons ul{
    margin:auto;
    justify-content: center;
    width:50%
    
}
.social-icons a{
    color:var(--white)
}
.front{
    background-image:url("../images/main-bg-portrait.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
}
.front-home{
    text-align:center;
}

.front-overlay{
    flex:1;
    background:var(--main-gradient);
    justify-content: center;
    
}
.welcome-text{
    color:var(--white)
}
.searchbox{
    background-color:var(--main-col-dark);
    width:80%;
    max-width:600px;
    border-radius: 15px;
    overflow: hidden;
    align-self: center;
    justify-content: space-between;
    align-items:center;
}
.search-button{
    background-color:transparent
}
.searchbox>*{
    padding:5px
}
input[type="search"]{
    flex:1;
}
.blogs-container{
    padding:0.5rem
}
.blog-image{
    width:100%;
    max-width:600px;
    max-height:300px;
    object-fit:cover
}
.tags{
    color:var(--main-col-dark)
}


@media (min-width:600px){
    .popular-blogs-wrapper{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-gap:30px 20px;
    }
    .popular-blogs-wrapper img{
        height:200px
    }
    .blogs-container{
        max-width:1200px;
        margin:auto
    }
    .blog-big img{
        max-height:500px;
        max-width:800px
    }
    .blog-small{
        margin-bottom:20px
    }
    .blog-small .blog-meta{
        margin-left:20px;
    }

    .small-blogs article{
        display:flex;
       
    }
    .blog-small .blog-heading{
        max-width:350px
    }
    .blog-small img{
        width:200px;
        height:200px
    
    }
}
@media (min-width:800px){
    .popular-blogs-wrapper{
     
        grid-template-columns:1fr 1fr 1fr;
        
    }
    .popular-blogs-wrapper img{
        height:250px
    }
    .latest-blogs-wrapper{
        display:flex
    }
    .small-blogs{
        padding:0 2rem
    }
    .blog-small .tags{
        font-size:var(--ds-fnt-lv4)
    }
    .blog-small h3{
        font-size:var(--ds-fnt-lv3)
    }
    .small-blogs article img{
       max-width: 400px;
       min-width:200px;
       max-height:150px
        
    
}
}
/* about page */
.front-about{
    flex:1
}

.about-img img{
    width:200px;
    height:200px;
    object-fit:cover;
    object-position: center;
}
.about-text{
    text-align:left;
    color:var(--white)
}
@media (min-width:800px){
.about-container{
    flex-direction: row;
    margin:auto;
    text-align: center;
}
.about-img img{
    width:400px;
    height:400px;
}
.about-text{
    margin:0 2rem;
    width: 60%;
    max-width:600px
}
    }
/* Archive */


.front-archive .front-overlay{
    padding: 1rem;
}
.latest-post-text h1{
    color:var(--white)
}
.latest-post-text h4{
    color:var(--sec-col-dark)
}
.latest-post-text{
    background-color:var(--main-col-light-transparent);
    padding:2rem
}
.latest-post-text,.latest-post-image{
    height:200px;
    
}
.latest-post-image img{
    height:200px;
    width:100%;
    object-fit: cover;
}
.archive-blogs{
    display:grid;
    grid-gap:1rem
}
.archive-blogs article{
    position:relative
}
.archive-blogs article .blog-meta{
    padding:1rem;

}
@media (min-width:560px){
    .latest-post-image img,.latest-post-text{
        height:300px;
        width:300px
    }
}
@media (min-width:700px){
    .archive-blogs{
        grid-template-columns: auto auto ;
        grid-gap:4rem 2rem;
        
    }
    .archive-blogs article .blog-meta{
        text-align: center;
    }
    .blogs-head{
        text-align: center;
    }

}
@media (min-width:850px){
    .archive-blogs{
        grid-template-columns: auto auto auto;
        grid-gap:4rem 2rem
        
    }

}
/* Post */
.main-content-wrapper{
    width:90%;
    margin:auto;
    justify-content: space-around;
}
.recent-posts-sidebar{
    width:250px;
    padding:2rem
}
.main-post,.more-posts{
    padding:0.5rem;
}
.main-post{
    margin:auto
}
#post-image{
    width:400px;
    height:250px;
    object-fit: cover;
}
.more-posts-wrapper{
    display:grid;
    grid-template-columns:1fr 1fr ;
    grid-gap:3rem 2rem
}
.more-posts-wrapper img{
    height:120px
}

.more-posts-wrapper h6{
    font-size:.8rem;
    font-weight:bold;
}
.aside-recent-posts-wrapper img{
    max-height:120px
}
@media(max-width:650px){
    .recent-posts-sidebar{
        display:none
    }
}

@media (min-width:420px) and (max-width:550px){
    #post-image{
        width:600px;
        height:300px
    }
}
@media (min-width:580px){
    #post-image{
        width:800px;
        height:450px
    }
}
@media (min-width:460px){
    .more-posts-wrapper img{
        height:150px
    }
    .main-content{
        max-width:800px
    }
}

@media (min-width:560px){
    .more-posts-wrapper {
     grid-template-columns: 1fr 1fr 1fr; 
    }
}
/* Scroll bar */
::-webkit-scrollbar{
    width:15px
}
::-webkit-scrollbar-track{
    background-color: rgb(29, 29, 29);
}
::-Webkit-scrollbar-thumb{
    background:grey;
    border-radius:10px;
   
    
}
::-Webkit-scrollbar-thumb:hover{
    background:var(--sec-col-dark);
    
}